.form-control, .form-control:focus, .input-group-text {
  color: #495057 !important;
}

.card {
  background-color: #f7f7f7;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.dropdown-item {
  color: #212529;
}
