iframe {
  background-color: white;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.card {
  background-color: #292929;
  border: 1px solid #444;
}

.border {
  border: 1px solid #444 !important;
}

.form-control {
	background-color: #333 !important;
	color: #ddd
}

.form-control:focus {
	background-color: #333;
	color: #ddd
}

.form-control::placeholder {
	color: #888
}
