body {
  padding-top: 4.5rem;
  margin: 0.5rem;
}

.navbar {
  padding: .5rem 1rem;
}

.navbar-nav-svg {
  height: 1rem;
  width: 1rem;
}

.icon {
  height: 0.7rem;
  width: 0.7rem;
}

a[aria-expanded=true] .collapse-open {
  display: none;
}

a[aria-expanded=false] .collapse-close {
  display: none;
}

.collapse.show + .collapse-alt {
  display: none;
}

.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
  font-family: KanjiStrokeOrders;
  src: url(/static/font/KanjiStrokeOrders_v4.003.ttf);
}
.stroke {
  font-family: KanjiStrokeOrders;
}
.kanji {
  font-family:
    KanjiStrokeOrders,
    "Noto Serif CJK JP", "Noto Serif CJK SC", "Noto Serif CJK TC",
    ipaexmincho, ipamincho, serif;
}
.jap, .kanji:hover {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial,
    "Noto Sans CJK JP", "Noto Sans CJK SC", "Noto Sans CJK TC",
    ipaexgothic, ipagothic, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

legend {
  font-size: 1em;
  margin: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
  width: auto;
}

.selbtn {
  -webkit-user-select: unset !important;
  -moz-user-select: unset !important;
  -ms-user-select: unset !important;
  user-select: unset !important;
}
.fakebtn, .notbtn {
  cursor: unset !important;
}
.fakebtn:hover, .fakebtn:active {
  color: inherit !important;
  background-color: inherit !important;
}

#radical-modal .tworem {
  display: inline-block;
  width: 2rem; /* TODO */
}

code, .nowrap {
  display: inline-block;
}

footer {
  text-align: center;
}
