Source: jiten
Section: non-free/text
Priority: optional
Maintainer: Felix C. Stegerman <flx@obfusk.net>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-click,
#              python3-kanjidraw (>= 0.2.1), # FIXME
               python3-setuptools,
               libsqlite3-dev,
               libpcre3-dev,
               nodejs,
Standards-Version: 4.5.1
Vcs-Git: https://salsa.debian.org/obfusk/jiten.git
Vcs-Browser: https://salsa.debian.org/obfusk/jiten
Homepage: https://github.com/obfusk/jiten
Rules-Requires-Root: no

Package: jiten
Architecture: any
Depends: jiten-data (= ${binary:Version}),
         fonts-kanjistrokeorders (>= 4.003~),
         fonts-kanjistrokeorders (<< 4.004),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
Recommends: jiten-pitch (= ${binary:Version}),
            jiten-audio (= ${binary:Version}),
            python3-webview (>= 3.3.5),
Description: Jiten Japanese Dictionary
 Jiten is a Japanese dictionary based on JMDict/Kanjidic
 .
 Features:
 .
  Fine-grained search using regexes (regular expressions)
  * simple searches don't require knowledge of regexes
  * quick reference available in the web interface and android app
 .
  JMDict multilingual japanese dictionary
  * kanji, readings (romaji optional), meanings & more
  * meanings in english, dutch, german, french and/or spanish
  * pitch accent (from Wadoku, non-free)
  * browse by frequency/jlpt
 .
  Kanji dictionary
  * readings (romaji optional), meanings (english), jmdict entries, radicals & more
  * search using SKIP codes
  * search by radical
  * handwritten kanji recognition
  * browse by frequency/level/jlpt/SKIP
 .
  Example sentences (from Tatoeba)
  * with english, dutch, german, french and/or spanish translation
  * some with audio (non-free)
 .
  Stroke order
  * input a word or sentence and see how it's written
 .
 Interfaces:
 .
  Android app
  * wraps the web interface (running locally on your device) in a webview
  * completely offline, no internet access required
  * easily share and open jiten.obfusk.dev links
  * not included in this Debian package
 .
  Web interface
  * available online at https://jiten.obfusk.dev
  * light/dark mode
  * search history (stored locally)
  * tooltips to quickly see meanings and readings for kanji and words
  * use long press for tooltips on mobile
  * converts romaji to hiragana and between hiragana and katakana
  * can be run on your own computer
 .
  Command-line interface
 .
  WebView GUI
  * wraps the web interface (running locally on your computer)
  * requires python3-webview

Package: jiten-data
Architecture: all
Enhances: jiten
Description: Data files for Jiten Japanese Dictionary
 Jiten is a Japanese dictionary based on JMDict/Kanjidic
 .
 This package contains the databases and audio files.

Package: jiten-pitch
Architecture: all
Enhances: jiten
Description: Pitch database for Jiten Japanese Dictionary
 Jiten is a Japanese dictionary based on JMDict/Kanjidic
 .
 This package contains the non-free pitch database.

Package: jiten-audio
Architecture: all
Enhances: jiten
Description: Audio files for Jiten Japanese Dictionary
 Jiten is a Japanese dictionary based on JMDict/Kanjidic
 .
 This package contains the non-free audio files.
