#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS := hardening=+all
export JITEN_VERSION := $(shell dpkg-parsechangelog -S Version)
export JITEN_FINAL   := yes

execute_after_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_test:
	# $(MAKE) test # FIXME: requires kanjidraw & nonfree-data

%:
	dh $@ --with python3 --buildsystem=pybuild
