{# <!--

  File        : templates/_dialogs.html
  Maintainer  : Felix C. Stegerman <flx@obfusk.net>
  Date        : 2021-05-17

  Copyright   : Copyright (C) 2021  Felix C. Stegerman
  Version     : v1.0.0
  License     : AGPLv3+

--> #}
{#-
<div class="modal" tabindex="-1" role="dialog" id="romaji-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="jap modal-title">konnnichiha → こんにちは</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="javascript:void(0);"
          class="modal-body form-inline justify-content-end">
        <label class="sr-only" for="romaji">Romaji</label>
        {{ input("romaji", "_", "", "", False, True, "2 mb-lg-0") }}
        <button id="romaji-convert" class="btn btn-primary">Convert</button>
      </form>
    </div>
  </div>
</div>
#}
<div class="modal" tabindex="-1" role="dialog" id="kanjidraw-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="jap modal-title">筆 Draw Kanji</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div id="kanjidraw_draw">
          <div>
            <button id="kanjidraw_btn_undo"
              class="btn btn-secondary">Undo</button>
            <button id="kanjidraw_btn_clear"
              class="btn btn-secondary">Clear</button>
            <span id="kanjidraw_lbl_strokes"
              class="mx-2">Strokes: 0</span>
            <button id="kanjidraw_btn_done"
              class="btn btn-primary">Done</button>
          </div>
          <div class="pt-3">
            <div class="form-check form-check-inline">
              <input type="checkbox" id="kanjidraw_chk_fuzzy"
                class="form-check-input kanjidraw_chk">
              <label class="form-check-label" for="kanjidraw_chk_fuzzy">
                Ignore stroke order & direction
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" id="kanjidraw_chk_offby1"
                class="form-check-input kanjidraw_chk">
              <label class="form-check-label"
                for="kanjidraw_chk_offby1">± 1 stroke</label>
            </div>
          </div>
          <hr class="mt-2"/>
          <canvas id="kanjidraw_canvas" width="300" height="300"
            data-show-grid="{{ "false" if kanjidraw_nogrid else "true" }}">
          </canvas>
        </div>
        <div id="kanjidraw_results" style="display: none;">
          <div>
            <button id="kanjidraw_btn_back"
              class="btn btn-secondary">Go Back</button>
            <span class="ml-2">Click to add to query input field.</span>
          </div>
          <hr/>
          <table id="kanjidraw_table" class="mx-auto"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="radical-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="jap modal-title">部 Radicals</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Click on a radical to add it to (or remove it from) the
          query input field.
        </p>
        <div id="radicals">
          {% set c = dict(rad = "primary", alt = "info", var = "secondary") %}
          {% for g in K.RADTABLE %}
            <span class="radical-count active notbtn btn btn-warning px-0 py-1 mb-1">
              <span class="square-btn">{{ loop.index }}</span>
            </span>
            {% for r, x in g %}
              <button class="radical jap selbtn btn btn-{{ c[x] }} px-0 py-1 mb-1">
                <span class="square-btn">{{ r }}</span>
              </button>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="history-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="jap modal-title">検索履歴 Search History</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="history"></ul>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end">
          <button id="history-clear" class="btn btn-danger">
            Clear History
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="settings-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="jap modal-title">設定 Settings</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/_save_prefs">
        <div class="modal-body">
          <input type="hidden" name="url" value="{{ request.url }}" />
          <input type="hidden" name="token" id="prefs-token" value="" />
          <fieldset class="d-inline border p-2 pl-3">
            <legend>languages</legend>
            {% for l in J.LANGS %}
              <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input"
                  id="prefs-{{ l }}" name="lang" value="{{ l }}"
                  {% if l in pref_langs %}checked{% endif %} />
                <label class="form-check-label"
                  for="prefs-{{ l }}">{{ l }}</label>
              </div>
            {% endfor %}
          </fieldset>
          <br/>
          <fieldset class="d-inline border p-2 pl-3">
            <legend>appearance</legend>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input"
                id="prefs-dark" name="dark" value="yes"
                {% if mode == "dark" %}checked{% endif %} />
              <label class="form-check-label"
                for="prefs-dark">dark mode</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input"
                id="prefs-large" name="large" value="yes"
                {% if large_jap %}checked{% endif %} />
              <label class="form-check-label"
                for="prefs-large">larger japanese text</label>
            </div>
          </fieldset>
          <br/>
          <fieldset class="d-inline border p-2 pl-3">
            <legend>romaji</legend>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input"
                id="prefs-roma" name="roma" value="yes"
                {% if roma %}checked{% endif %} />
              <label class="form-check-label"
                for="prefs-roma">show romaji</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input"
                id="prefs-nor2h" name="nor2h" value="yes"
                {% if nor2h %}checked{% endif %} />
              <label class="form-check-label jap"
                for="prefs-nor2h">disable a→あ</label>
            </div>
          </fieldset>
          <br/>
          <fieldset class="d-inline border p-2 pl-3">
            <legend>kanji drawing</legend>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input"
                id="prefs-nogrid" name="nogrid" value="yes"
                {% if kanjidraw_nogrid %}checked{% endif %} />
              <label class="form-check-label"
                for="prefs-nogrid">disable grid</label>
            </div>
          </fieldset>
          <br/>
          <fieldset class="d-inline border p-2 pl-3">
            <legend>max results</legend>
            <input type="number" min="20" max="1000"
              id="prefs-max" name="max" value="{{ pref_max }}" />
          </fieldset>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="share-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Share Link</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-inline justify-content-end">
        {% set link = M.SERVER + request.full_path %}
        <div class="input-group mr-sm-2 mb-2 mb-lg-0 flex-grow-1">
          <input type="text" class="form-control" value="{{ link }}"
            readonly />
          <div class="input-group-append">
            {{ copybtn() }}
          </div>
        </div>
        <a href="{{ link }}" class="btn btn-primary"
          target="_blank" rel="noopener">Open</a>
      </div>
    </div>
  </div>
</div>
<div class="modal lazy-iframe-modal" tabindex="-1" role="dialog" id="licenses-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Free and Open Source Software Licenses</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for k, v in M.DEPENDENCIES|dictsort %}
          {% set name = v.get("name", k) %}
          <h6>
            <a href="{{ v.url }}" target="_blank" rel="noopener">
              {{ name }}
            </a>
          </h6>
          <iframe class="w-100" data-src="/static/licenses/{{ name }}.txt"></iframe>
          {% if not loop.last %}<br/><br/>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="modal lazy-iframe-modal" tabindex="-1" role="dialog" id="privacy-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Privacy</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe class="w-100" data-src="/static/privacy.txt"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="alert-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">[...]</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-end">
        <button class="btn btn-primary"
          data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">[...]</h5>
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-end">
        <button class="btn btn-secondary mr-1"
          data-dismiss="modal">Cancel</button>
        <button id="confirm" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
