<meta charset="UTF-8"/>
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{% if dark %}
  <link rel="stylesheet" href="/static/bootstrap-darkly.min.css" />
{% else %}
  <link rel="stylesheet" href="/static/bootstrap-flatly.min.css" />
{% endif %}
<link rel="stylesheet" href="/static/style.css" />
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/popper-1.16.0.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
  // TODO: move somewhere more appropriate
  $(document).ready(() =>
    $('.clear-input').each((i, e) => $(e).click(() => {
      const i = $("input", $(e).parents(".input-group"))
      if (i.attr("id") == "jmdict-query") {
        $("#jmdict-word").prop("checked", true)
      }
      i.val("").focus()
    }))
  )
</script>
