{# <!--

  File        : templates/_nav.html
  Maintainer  : Felix C. Stegerman <flx@obfusk.net>
  Date        : 2021-06-15

  Copyright   : Copyright (C) 2021  Felix C. Stegerman
  Version     : v1.0.0
  License     : AGPLv3+

--> #}
{% from "_macros.html" import input, copybtn with context %}
{% if "/by-" in page %}
  <div class="d-none modal" tabindex="-1" role="dialog" id="loading">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body pb-0 text-center">
          <div class="alert alert-info">Loading...</div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#loading").removeClass("d-none").modal()
  </script>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  {%- if GUI %}
    <span class="navbar-brand">
      <a class="btn btn-info" href="javascript:history.back()">
        <!--
          Source: https://fonts.gstatic.com/s/i/materialicons/arrow_back/v12/24px.svg
          License: http://www.apache.org/licenses/LICENSE-2.0.txt
        -->
        <svg xmlns="http://www.w3.org/2000/svg"
            style="height: 1.25rem; width: 1.25rem;"
            viewBox="4 4 16 16" focusable="false">
          <title>Go backwards</title>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
            fill="currentColor"/>
        </svg>
      </a>
      <a class="btn btn-info" href="javascript:history.forward()">
        <!--
          Source: https://fonts.gstatic.com/s/i/materialicons/arrow_forward/v11/24px.svg
          License: http://www.apache.org/licenses/LICENSE-2.0.txt
        -->
        <svg xmlns="http://www.w3.org/2000/svg"
            style="height: 1.25rem; width: 1.25rem;"
            viewBox="4 4 16 16" focusable="false">
          <title>Go forwards</title>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"
            fill="currentColor"/>
        </svg>
      </a>
    </span>
  {% endif %}
  <a class="jap navbar-brand" href="/">辞典</a>
  {%- if config.get("DEBUG") %}
    <span class="navbar-brand">
      <span class="badge badge-danger">DEBUG</span>
    </span>
  {% endif %}
  <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#nav"
      aria-controls="nav" aria-expanded="false"
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ "active" if page == "jmdict" else "" }}">
        <a class="nav-link" href="/jmdict"><strong>JMDict</strong></a>
      </li>
      <li class="nav-item {{ "active" if page == "kanji" else "" }}">
        <a class="nav-link" href="/kanji"><strong>Kanji</strong></a>
      </li>
      <li class="nav-item {{ "active" if page == "sentences" else "" }}">
        <a class="nav-link" href="/sentences"><strong>Sentences</strong></a>
      </li>
      <li class="nav-item {{ "active" if page == "stroke" else "" }}">
        <a class="nav-link" href="/stroke"><strong>Stroke Order</strong></a>
      </li>
      <li class="nav-item dropdown {{ "active" if "/by-" in page else "" }}">
        <a class="nav-link dropdown-toggle" href="#"
            id="by-dropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Browse
        </a>
        <div class="dropdown-menu" aria-labelledby="by-dropdown">
          <a class="dropdown-item {{ "active" if page == "kanji/by-freq" else "" }}"
            href="/kanji/by-freq">Kanji by Frequency</a>
          <a class="dropdown-item {{ "active" if page == "kanji/by-level" else "" }}"
            href="/kanji/by-level">Kanji by Level</a>
          <a class="dropdown-item {{ "active" if page == "kanji/by-jlpt" else "" }}"
            href="/kanji/by-jlpt">Kanji by JLPT</a>
          {% for n in "1234" %}
            {% set p = "kanji/by-skip/" + n %}
            <a class="dropdown-item {{ "active" if page == p else "" }}"
              href="/{{ p }}">Kanji by SKIP - {{ n }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item {{ "active" if page == "jmdict/by-freq" else "" }}"
            href="/jmdict/by-freq">JMDict by Frequency</a>
          {% for n in "54321" %}
            {% set p = "jmdict/by-jlpt/" + n %}
            <a class="dropdown-item {{ "active" if page == p else "" }}"
              href="/{{ p }}">JMDict by JLPT - N{{ n }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/obfusk/jiten"
          target="_blank" rel="noopener" aria-label="GitHub">
          <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg"
              viewbox="0 0 512 499.36" focusable="false">
            <title>GitHub</title>
            <path d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z" fill="currentColor" fill-rule="evenodd"/>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" data-toggle="modal" data-target="#help-modal"
      class="btn btn-light btn-sm my-2 my-lg-0 ml-lg-2">Help</button>
    {#-
    <button type="button" data-toggle="modal" data-target="#romaji-modal"
      class="jap btn btn-light btn-sm my-2 my-lg-0 ml-2"
      title="romaji" style="white-space: nowrap;">a→あ</button>
    #}
    <button type="button" data-toggle="modal" data-target="#history-modal"
      class="btn btn-light btn-sm my-2 my-lg-0 ml-2">History</button>
    <button type="button" data-toggle="modal" data-target="#settings-modal"
      class="btn btn-light btn-sm my-2 my-lg-0 ml-2">Settings</button>
    <button type="button" data-toggle="modal" data-target="#share-modal"
        class="btn btn-light btn-sm my-2 my-lg-0 ml-2" title="share">
      <!--
        Source: https://fonts.gstatic.com/s/i/materialicons/share/v13/24px.svg
        License: http://www.apache.org/licenses/LICENSE-2.0.txt
      -->
      <svg xmlns="http://www.w3.org/2000/svg"
          style="height: 1rem; width: 1rem;"
          viewBox="0 0 24 24" focusable="false">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"
          fill="currentColor"/>
      </svg>
    </button>
  </div>
</nav>
{% include "_dialogs.html" %}
{% include "_help.html" %}
