<!doctype html>
<html lang="en">
  <!--

    File        : templates/download_dbs.html
    Maintainer  : Felix C. Stegerman <flx@obfusk.net>
    Date        : 2021-12-27

    Copyright   : Copyright (C) 2021  Felix C. Stegerman
    Version     : v1.0.0
    License     : AGPLv3+

  -->
  <head>
    {% include "_meta.html" %}
  </head>
  <body>
    {% include "_nav.html" %}
    <div class="container text-center">
      <form method="post" action="/_download_dbs">
        <div class="alert alert-danger">
          Some database files are missing or out of date.
        </div>
        <button id="download" class="btn btn-primary">Download</button>
        <br/>
        <br/>
        NB: the download may take a few minutes; please be patient and
        wait for the page to reload.
      </form>
      <script>
        $("#download").click(() => {
          console.log("downloading...")
          $("#download").addClass("disabled").text("Downloading...")
          return true
        })
      </script>
    </div>
    {% include "_footer.html" %}
  </body>
</html>
