<!doctype html>
<html lang="en">
  <!--

    File        : templates/index.html
    Maintainer  : Felix C. Stegerman <flx@obfusk.net>
    Date        : 2021-06-27

    Copyright   : Copyright (C) 2021  Felix C. Stegerman
    Version     : v1.0.0
    License     : AGPLv3+

  -->
  <head>
    {% include "_meta.html" %}
    <style>
      #logo { height: 42px; width: 42px; background-color: #fff; }
    </style>
  </head>
  <body>
    {% from "_search.html" import jmdict, kanji, sentences, stroke with context %}
    {% include "_nav.html" %}
    <div class="container">
      <h4 class="text-center mb-4">
        <img class="img-thumbnail" src="/static/icon.png" alt="logo"
          id="logo" /> Jiten Japanese Dictionary
      </h4>
      {{ jmdict(langs) }}
      <br/>
      {{ kanji(af = False) }}
      <br/>
      {{ sentences(af = False) }}
      <br/>
      {{ stroke(af = False) }}
    </div>
    {% include "_footer.html" %}
  </body>
</html>
