<!doctype html>
<html lang="en">
  <!--

    File        : templates/jmdict.html
    Maintainer  : Felix C. Stegerman <flx@obfusk.net>
    Date        : 2021-06-27

    Copyright   : Copyright (C) 2021  Felix C. Stegerman
    Version     : v1.0.0
    License     : AGPLv3+

  -->
  <head>
    {% include "_meta.html" %}
  </head>
  <body>
    {% from "_macros.html" import topbtn, collapsebtn, collapseallbtns,
                           toggleromajibtn with context %}
    {% from "_search.html" import jmdict with context %}
    {% include "_nav.html" %}
    <div class="container">
      {{ jmdict(langs, query) }}
      {% if query %}
        <div class="d-flex pt-2 pb-3">
          {{ toggleromajibtn() }}
          <span class="ml-auto">
            {{ collapseallbtns() }}
          </span>
        </div>
        {% for e, rank in results %}
          <div class="card">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item {{
                      "pb-1 px-2 pt-2" if e.kanji else "p-2"
                    }}" title="kanji">
                  {% for k in e.kanji %}
                    <span class="entry jap selbtn fakebtn btn btn-lg btn-warning py-1 mb-1">
                      {% for c in k.elem -%}
                        {%- if M.isideo(c) -%}
                          {%- set rm = krm(c) -%}
                          {%- if rm -%}
                            <a class="text-reset"
                              title="{{ "; ".join(rm[1]) }} 【{{ "、".join(rm[0]) }}】"
                              data-toggle="tooltip" data-placement="top"
                              href="/kanji?query={{ c }}">{{ c }}</a>
                          {%- else -%}
                            {{ c }}
                          {%- endif -%}
                        {%- else -%}
                          {{ c }}
                        {%- endif -%}
                      {%- endfor %}
                    </span>
                  {% else %}
                    <span class="text-muted">no kanji</span>
                  {% endfor %}
                </li>
                <li class="list-group-item d-flex flex-wrap {{
                      "pb-1 px-2 pt-2" if e.reading else "p-2"
                    }}" title="reading">
                  {% for r in e.reading %}
                    <a class="entry jap selbtn btn btn-success py-1 mb-1 mr-1"
                        href="/jmdict?query={{ r.elem }}&exact=yes">
                      {{ r.elem }}
                      {% set v = "" if roma else "d-none" %}
                      <span class="romaji badge badge-primary {{ v }}"
                        >{{ kana2romaji(r.elem) }}</span>
                    </a>
                    {% if loop.last %}
                      <span class="ml-auto align-self-end">
                        <small class="jap text-muted">読み</small>
                      </span>
                    {% endif %}
                  {% else %}
                    <span class="text-muted">no readings</span>
                  {% endfor %}
                </li>
                {% set pitch = elem_pitch(e)|list %}
                <li class="list-group-item d-flex flex-wrap {{
                      "pb-1 px-2 pt-2" if pitch else "p-2"
                    }}" title="pitch">
                  {% for p in pitch %}
                    <span class="pitch jap selbtn btn btn-info py-1 mb-1 mr-1">
                      {{ p }}
                      {% set v = "" if roma else "d-none" %}
                      <span class="romaji badge badge-primary {{ v }}"
                        >{{ kana2romaji(p) }}</span>
                    </span>
                    {% if loop.last %}
                      <span class="ml-auto align-self-end">
                        <small class="jap text-muted">高低</small>
                      </span>
                    {% endif %}
                  {% else %}
                    {% if P.have_pitch() %}
                      <span class="text-muted">no pitch data</span>
                    {% else %}
                      <span class="text-muted">pitch data unavailable</span>
                    {% endif %}
                  {% endfor %}
                </li>
              </ul>
              <div class="float-right mt-1 ml-1">
                {{ collapsebtn("collapse-" + loop.index|string) }}
                {{ topbtn() }}
              </div>
              <div class="collapse collapseall show"
                  id="collapse-{{ loop.index }}">
                {% set ns = namespace(has_meanings = false) %}
                {% set gloss, info = e.gloss_pos_info(langs) %}
                {% for l in langs if gloss[l] %}
                  <h4 class="mt-2 mb-1">{{ l }}</h4>
                  <ul class="list-group my-1" title="meanings">
                    {% for g in gloss[l] %}
                      <li class="list-group-item pb-1 px-2 pt-2">
                        {% for x in g %}
                          {% set ns.has_meanings = true %}
                          <span class="selbtn fakebtn btn btn-outline-primary text-reset py-1 mb-1">
                            {{ x }}
                          </span>
                        {% endfor %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
                {% if not ns.has_meanings %}
                  <div class="text-muted my-2">no meanings</div>
                {% endif %}
                <ul class="list-group mt-2 mb-1" title="miscellaneous">
                  {% if info %}
                    <li class="list-group-item pb-1 px-2 pt-2"
                        title="sense info">
                      {% for i in info %}
                        <span class="selbtn notbtn btn btn-success btn-sm mb-1">
                          {{ i }}
                        </span>
                      {% endfor %}
                    </li>
                  {% endif %}
                  {% set xi = e.xinfo()|list %}
                  {% if xi %}
                    <li class="list-group-item pb-1 px-2 pt-2"
                        title="orthography/reading info">
                      {% for i in xi %}
                        <span class="selbtn notbtn btn btn-primary btn-sm mb-1">
                          {{ i }}
                        </span>
                      {% endfor %}
                    </li>
                  {% endif %}
                  {% set xr = e.xrefs()|list %}
                  {% if xr %}
                    <li class="list-group-item pb-1 px-2 pt-2"
                        title="cross-references">
                      see
                      {% for i in xr %}
                        <a class="link jap selbtn btn btn-warning px-2 py-1 mb-1"
                          href="/jmdict?query={{ i }}&exact=yes">{{ i }}</a>
                      {% endfor %}
                    </li>
                  {% endif %}
                  <li class="list-group-item pb-1 px-2 pt-2 d-flex flex-wrap">
                    <span class="nowrap">
                      seq#
                      <a class="badge badge-primary"
                          href="/jmdict?query={{ ("+#" + e.seq|string)|urlencode }}">
                        {{ e.seq }}
                      </a>
                    </span>
                    {% if rank %}
                      <span class="nowrap">
                        &nbsp;» freq#
                        <span class="badge badge-info">
                          {{ rank }}
                        </span>
                      </span>
                    {% endif %}
                    {% if e.jlpt %}
                      <span class="nowrap">
                        &nbsp;» jlpt
                        <span class="badge badge-warning">
                          N{{ e.jlpt }}
                        </span>
                      </span>
                    {% endif %}
                    <!-- FIXME {{ e.prio_level() }} -->
                    {% if e.isprio() %}
                      <span class="nowrap">&nbsp;» prio</span>
                    {% endif %}
                    <span class="nowrap ml-auto mb-1">
                      <span class="badge badge-secondary">
                        {{ loop.index }}
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
              <ul class="collapse-alt list-group mt-1" title="meanings">
                <li class="list-group-item ellipsis pb-1 px-2 pt-2">
                  {% for l in langs if gloss[l] %}
                    {% for g in gloss[l] %}
                      {% for x in g %}
                        <span class="ellipsis selbtn fakebtn btn btn-outline-primary text-reset py-1 mb-1">
                          {{ x }}
                        </span>
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                  {% if not ns.has_meanings %}
                    <div class="text-muted mb-1">no meanings</div>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
          {% if not loop.last %}<br/>{% endif %}
        {% else %}
          <br/>
          <div class="alert alert-{{ mode }} mb-0 text-center">
            no results
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% include "_footer.html" %}
  </body>
</html>
