<!doctype html>
<html lang="en">
  <!--

    File        : templates/kanji-by-freq.html
    Maintainer  : Felix C. Stegerman <flx@obfusk.net>
    Date        : 2021-06-27

    Copyright   : Copyright (C) 2020  Felix C. Stegerman
    Version     : v1.0.0
    License     : AGPLv3+

  -->
  <head>
    {% include "_meta.html" %}
  </head>
  <body>
    {% from "_macros.html" import topbtn with context %}
    {% include "_nav.html" %}
    <div class="container">
      {% for row in kanji|batch(100) %}
        <div class="card">
          <div class="card-header d-flex flex-wrap">
            <h6 class="card-title text-muted">
              {{ row[0][1] }} - {{ row[-1][1] }}
            </h6>
            <span class="ml-auto">{{ topbtn() }}</span>
          </div>
          <div class="card-body">
            {% for c, f, r, m in row %}
              <a class="link jap selbtn btn btn-primary btn-lg px-2 py-1 mb-1"
                title="{{ f }} | {{ "; ".join(m) }} 【{{ "、".join(r) }}】"
                data-toggle="tooltip" data-placement="top"
                href="/kanji?query={{ c }}">{{ c }}</a>
            {% endfor %}
          </div>
        </div>
        {% if not loop.last %}<br/>{% endif %}
      {% endfor %}
    </div>
    {% include "_footer.html" %}
  </body>
</html>
