<!doctype html>
<html lang="en">
  <!--

    File        : templates/kanji-by-level.html
    Maintainer  : Felix C. Stegerman <flx@obfusk.net>
    Date        : 2021-06-27

    Copyright   : Copyright (C) 2021  Felix C. Stegerman
    Version     : v1.0.0
    License     : AGPLv3+

  -->
  <head>
    {% include "_meta.html" %}
  </head>
  <body>
    {% from "_macros.html" import topbtn with context %}
    {% include "_nav.html" %}
    <div class="container">
      {% for level, chars in levels %}
        <div class="card">
          <div class="card-header d-flex flex-wrap">
            <div>
              <h4 class="jap card-title">{{ level }}</h4>
              <h6 class="card-subtitle text-muted">{{ chars|length }}</h6>
            </div>
            <span class="ml-auto">{{ topbtn() }}</span>
          </div>
          <div class="card-body">
            {% for c, r, m in chars %}
              <a class="link jap selbtn btn btn-primary btn-lg px-2 py-1 mb-1"
                title="{{ "; ".join(m) }} 【{{ "、".join(r) }}】"
                data-toggle="tooltip" data-placement="top"
                href="/kanji?query={{ c }}">{{ c }}</a>
            {% endfor %}
          </div>
          {% if loop.last %}
            <div class="card-footer text-right">
              {{ topbtn() }}
            </div>
          {% endif %}
        </div>
        {% if not loop.last %}<br/>{% endif %}
      {% endfor %}
    </div>
    {% include "_footer.html" %}
  </body>
</html>
