<!doctype html>
<html lang="en">
  <!--

    File        : templates/stroke.html
    Maintainer  : Felix C. Stegerman <flx@obfusk.net>
    Date        : 2021-06-27

    Copyright   : Copyright (C) 2021  Felix C. Stegerman
    Version     : v1.0.0
    License     : AGPLv3+

  -->
  <head>
    {% include "_meta.html" %}
    <style>
      #out { font-size: 9em; } /* TODO */
    </style>
  </head>
  <body>
    {% from "_search.html" import stroke with context %}
    {% include "_nav.html" %}
    <div class="container">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="jap card-title">漢字と仮名の筆順</h2>
          <a class="jap btn btn-outline-primary"
            data-toggle="modal" data-target="#hiragana-modal"
            href="/static/Table_hiragana.svg">平仮名表</a>
          <a class="jap btn btn-outline-primary"
            data-toggle="modal" data-target="#katakana-modal"
            href="/static/Table_katakana.svg">片仮名表</a>
        </div>
      </div>
      <br/>
      {{ stroke(query) }}
      <br/>
      <div class="card">
        <div class="card-body p-0">
          <div class="stroke text-center"
            id="out">{{ query or "漢字と仮名の筆順" }}</div>
        </div>
      </div>
    </div>
    {% for k, j in (("hiragana", "平仮名表"), ("katakana", "片仮名表")) %}
      <div class="modal" tabindex="-1" role="dialog" id="{{ k }}-modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="jap modal-title">{{ j }}</h5>
              <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img style="max-width: 100%; background-color: white;"
                src="/static/Table_{{ k }}.svg" alt="{{ j }}" />
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% include "_footer.html" %}
  </body>
</html>
